.whatsapp-btn {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 1000;
  background-color: #25d366;
  border-radius: 50%;
  padding: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.whatsapp-btn:hover {
  transform: scale(1.1);
}


.fab.fa-whatsapp {
  font-size: 35px;
  color: #ffffff;
  transition: color 0.3s ease, transform 0.3s ease;
}

.fab.fa-whatsapp:hover {
  
  transform: scale(1.2);
}
