<div class="product-showcase" *ngIf="product">
  <div class="left-block">
    <img *ngIf="product?.image?.length" [src]="product.image[0]" alt="{{ product.name }}" />
  </div>

  <div class="right-block">
    <h1 class="title">{{ product.name }}</h1>

    <p class="description">{{ product.description }}</p>

    <div class="price-section">
      <div class="main-price">$ {{ product.price }}</div>
      <div class="installments">🚚 Envios a todo el pais </div>
      <a class="tax-note" routerLink="/contact">Consultas y sugerencias</a>
    </div>

    <div class="badges">
      <span class="badge">💎 100% Original</span>
      <span class="badge"><i class="fa-solid fa-arrow-rotate-left"> </i> Cambios y devoluciones</span>
      <span class="badge stock"><i class="fa-solid fa-lock"> </i > Compra protegida</span>
    </div>

   <!-- <button class="cta-button" (click)="addToCart()">Agregar al carrito</button>-->
  </div>
</div>


<div *ngIf="!product" class="loading">
  <p>Cargando producto...</p>
</div>





