<div class="home-container">
  <!-- 🎯 Hero Section -->
  <section class="hero">
    <div class="hero-overlay">
      <h1>Distinzione</h1>
    </div>
  </section>

  <!-- 🧩 Info Cards Section -->
  <section class="info-cards">

    <div class="card">
      <h3>Calidad & Diseño</h3>
      <p>
        Cada joya es una obra maestra, elaborada con los mejores materiales y
        un diseño exclusivo que resalta la belleza de cada pieza.
      </p>
    </div>
  
     <div class="card">
      <h3>Arreglos & Restauraciones</h3>
      <p>
        Ofrecemos servicio de reparación, limpieza
        y restauración para que cada pieza vuelva a brillar como el primer día.
      </p>
    </div>

    <div class="card">
      <h3>Diseños Exclusivos</h3>
      <p>
        Realizamos joyas únicas, pensadas y creadas para cada cliente. Nuestro
        diseño artesanal garantiza piezas que hablan por sí solas.
      </p>
    </div>

    <div class="card">
      <h3>Compromiso & Garantía</h3>
      <p>
        Ofrecemos garantía en cada producto y atención personalizada para que
        cada experiencia sea brillante.
      </p>
    </div>
  </section>

<section class="featured-products">
  <h2>Diseños Exclusivos</h2>
  <swiper-container
    effect="coverflow"
    grab-cursor="true"
    centered-slides="true"
    slides-per-view="auto"
    autoplay="false"
    loop="true"
    pagination="true"
    navigation="true"
    class="carrusel-coverflow"
    *ngIf="portfolioProducts.length > 0"
  >
    <swiper-slide *ngFor="let product of portfolioProducts">
      <app-cards [product]="product"></app-cards>
    </swiper-slide>
  </swiper-container>
</section>

<section class="featured-products">
  <h2>Destacados</h2>
  <swiper-container
    effect="coverflow"
    grab-cursor="true"
    centered-slides="true"
    slides-per-view="auto"
    
    autoplay="false"
    loop="true"
    pagination="true"
    navigation="true"
    class="carrusel-coverflow"
    *ngIf="featuredProducts.length > 0"
  >
    <swiper-slide *ngFor="let product of featuredProducts">
      <app-cards [product]="product"></app-cards>
    </swiper-slide>
  </swiper-container>
</section>


  <section class="payment-methods">
    <h2>Medios de Pago</h2>
    <div class="payment-icons">
      <div>Mercado Pago</div>
      <div>Transferencia Bancaria</div>
    </div>
    <p class="payment-note">
      Ofrecemos pagos en cuotas sin interés y envíos gratuitos en compras
      mayores a $100.000
    </p>
  </section>
</div>
