<div class="home-container">
  <!-- 🎯 Hero Section -->
  <section class="hero">
    <div class="hero-overlay">
      <h1>Distinzione</h1>
    </div>
  </section>

  <!-- 🧩 Info Cards Section -->
  <section class="info-cards">

    <div class="card">
      <h3>Calidad & Diseño</h3>
      <p>
        Cada joya es una obra maestra, elaborada con los mejores materiales y
        un diseño exclusivo que resalta la belleza de cada pieza.
      </p>
    </div>
  
     <div class="card">
      <h3>Arreglos & Restauraciones</h3>
      <p>
        Ofrecemos servicio de reparación, limpieza
        y restauración para que cada pieza vuelva a brillar como el primer día.
      </p>
    </div>

    <div class="card">
      <h3>Diseños Exclusivos</h3>
      <p>
        Realizamos joyas únicas, pensadas y creadas para cada cliente. Nuestro
        diseño artesanal garantiza piezas que hablan por sí solas.
      </p>
    </div>

    <div class="card">
      <h3>Compromiso & Garantía</h3>
      <p>
        Ofrecemos garantía en cada producto y atención personalizada para que
        cada experiencia sea brillante.
      </p>
    </div>
  </section>

  <section class="featured-products">
  <h2>Diseños Exclusivos</h2>
  <div class="product-grid" >
   
  <app-cards
    *ngFor="let product of isPortfolioAndFeatured()"
    [product]="product"
  ></app-cards>

  
</div>
</section>

<section class="featured-products">
  <h2>Destacados</h2>
  <div class="product-grid" >
  <app-cards
    *ngFor="let product of isFeaturedNotPortfolio()"
    [product]="product"
  ></app-cards>

  
</div>
</section>

  <section class="payment-methods">
    <h2>Medios de Pago</h2>
    <div class="payment-icons">
      <div>Mercado Pago</div>
      <div>Transferencia Bancaria</div>
    </div>
    <p class="payment-note">
      Ofrecemos envíos gratuitos en compras
      mayores a $100.000
    </p>
  </section>
</div>
