<div class="cards-conteiner">
  <div class="product-card">
     <img
            *ngIf="product.image?.length"
            [src]="product.image[0]"
            alt="{{ product.name }}"
            (click)="openImageModal(product.image[0])"
            class="clickable-image"
          />
          
    <h4>{{ product.name }}</h4>

    <!-- Solo si NO es portfolio -->
    <ng-container *ngIf="!product.isPortfolio">
      <p>Stock: {{ product.stock }}</p>
      <span class="price">$ {{ product.price }}</span>
    </ng-container>

      <!-- Solo si NO es portfolio -->
    <ng-container *ngIf="product.isPortfolio">
      <p class="portfolio-description">Descripción: {{ product.description }}</p>
      
    </ng-container>

    <!-- Badges -->
    <span *ngIf="product.featured" class="badge">★ Destacado</span>
    <span *ngIf="product.isPortfolio" class="badge">★ Diseño Exclusivo</span>

    <!-- Botones -->
    <div class="product-buttons" *ngIf="!product.isPortfolio">
      <button (click)="goToProductDetail(product._id)">Ver</button>

   <!--   <button
        class="add-btn"
        *ngIf="isAuthenticated && product._id"
        (click)="addToCart(product._id)"
      >
        Comprar
      </button>

      <button
        class="add-btn guest"
        *ngIf="!isAuthenticated && product._id"
        (click)="addToCartAnonimous(product._id)"
      >
        Comprar
      </button>-->
    </div>
  </div>
    <div
        class="image-modal"
        *ngIf="selectedImageUrl"
        (click)="closeImageModal()"
      >
        <img [src]="selectedImageUrl" alt="Imagen ampliada" />
      </div>
</div>
