<div *ngFor="let order of orders" class="card mb-4 card-gold-wrapper shadow-sm">
  <div class="card-body">
    <h5 class="text-gold">Orden #{{ order._id }}</h5>
    <p>
      <strong>Estado:</strong>
      <span
        [ngClass]="{
          'badge bg-warning': order.status === 'Pendiente',
          'badge bg-success': order.status === 'En camino',
          'badge bg-danger': order.status === 'Cancelado',
          'badge bg-info': order.status === 'Pagado',
          'badge bg-primary': order.status === 'Entregado'
        }"
        >{{ order.status | uppercase }}</span
      >
    </p>

    <p><strong>Fecha:</strong> {{ order.createdAt | date : "medium" }}</p>
    <p><strong>Total:</strong> ${{ order.totalAmount }}</p>

    <hr />

    <h6 class="text-gold mb-2">Productos comprados</h6>
    <table class="table table-bordered table-sm table-striped product-table">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Articulo</th>
          <th>Precio unitario</th>
          <th>Subtotal</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of order.items">
          <td>
            <strong>{{ item.product.name }}</strong>
          </td>

          <td>{{ item.quantity }}</td>
          <td>{{ item.product.articleCode }}</td>
          <td>${{ item.product.price }}</td>
          <td>${{ item.quantity * item.product.price }}</td>
        </tr>
      </tbody>
    </table>

    <hr />

    <h6 class="text-gold mb-2">Dirección de envío</h6>
    <p>
      {{ order.shippingAddress.street }} {{ order.shippingAddress.number }},
      {{ order.shippingAddress.city }} ({{ order.shippingAddress.zipCode }}),
      {{ order.shippingAddress.province }}, {{ order.shippingAddress.country }}
    </p>
  </div>
</div>
